 <h2 class="page-header text-center text-success">Hi, {{user.username}}!</h2>
<h4 class="text-center text-info">Welcome to your dashboard</h4> <br>
<hr>
<div class="jumbotron">
  <h3 class="text-danger">Personal Details</h3>
  <ul class="list-group">
  <li class="list-group-item"><strong>Name:</strong> {{user.name}} </li>
  <li class="list-group-item"><strong>Email:</strong> {{user.email}} </li>
  <li class="list-group-item"><strong>Username: </strong> {{user.username}} </li>
  <li class="list-group-item"><strong>ID: </strong> {{user.id}} </li>
  <li class=""></li>
</ul>
</div><br><br>

<form id="pass_userid" action="/index/getCollections" method="POST">
  <input type="hidden" value="{{user.id}}" id="userid">

</form>
<div id="output"></div>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    var userid = document.getElementById('userid').value;
    var outputDIV = document.getElementById('output');

  $(document).ready(function(){

      // Connect to socket.io
    var socket = io.connect('http://127.0.0.1:4000');

    socket.emit('user_id_', {id:userid});
    //console.log('This value is available once the page is loaded: ' + userid);

    //-------------
      //Get collections from server
  socket.on('collections', (data) => {

    if(data.length != 0){
      for(var index = 0; index < data.length; index++){
        
          //Build out message div
              var collection = document.createElement('div');
              collection.setAttribute('class', 'alert alert-info');
              collection.innerHTML = '<strong>Collection ID:</strong> ' + data[index]._id + '<br/>' + ' <strong>Type:</strong> ' + data[index].type + '<br/>' + ' <strong>Title:</strong> ' + data[index].title + '<br/>' + ' <strong>Date:</strong> ' + data[index].acquisitiondate + '<br/>' + ' <strong>Condition:</strong> ' + data[index].condition + '<br/>' + '<br/>' + '  <strong>Message:</strong> ' + data[index].message;
              outputDIV.appendChild(collection);
      }

      //console.log('Data from server: ' + data);
    }else{

              outputDIV.setAttribute('class', 'alert alert-danger text-center');
              outputDIV.textContent = 'No collections yet!';
    }
  })


  
  });


</script>



 

